@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Space+Mono:700');

body{
  font-family:'Lucida Sans', sans-serif;
}

h4{
    font-size: 20px;
}

produit {
  padding: 5em;
}

/**********LES PRODUITS**********/

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 1em;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 1em;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 25px;
}


/******** VOTRE PANIER **********/
  .col-25 {
    padding: 5em 6em;
    width: 100% ;
    display:block;
    display:flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

  }

  .container {

    background-color: #f2f2f2;
    padding: 10em 5em 1em 5em;
    padding-top: 50px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 10% 40%;
  }

  input[type=text] {
    width: 50%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .btn {
    background-color: #000000;
    color: white;
    padding: 10px;
    margin: 20px 20px;
    border: none;
    width: 9,5em;
    border-radius: 7px;
    cursor: pointer;
    font-size: 13px;
  }

  .btn:hover {
    background-color: #dc143c;
  }

  span.price {
    float: right;
    color: rgb(43, 42, 42);
  }
  .btn-go-checkout {
   display: block;
   margin-left: auto;
   margin-right: auto;
}



  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }

    .column {
      width: 50%;
    }
  }
