.main{
  width :320px;
  height:420px;
  background: black;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.choix {
	width: 320px;
	height: 270px;
	position: absolute;
	background-color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	box-sizing: border-box;
  padding: 70px 30px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.main p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.main input {
  width: 100%;
  margin-bottom: 20px;
}

.main input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.main input[type="submit"]{
  border:none;
  outline: none;
  height: 40px;
  background: #a30042;
  color:black;
  font-size: 18px;
  border-radius: 20px;
}

.main input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;

}

.choix input[type="submit"]{
  border:none;
  outline: none;
  width: 260px;
  height: 40px;
  background:#a30042;
  color:black;
  font-size: 18px;
  border-radius: 20px;
}

.choix input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;

}
.main a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: white;
}

.main a:hover {
  color : #ffc107;
}

#design{
    background:grey;  /*:url("");*/
    height:100vh;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

body{
  background-color: #F4F6F7;
  font-family : "HelveticaNeue light", sans serif;
  font-size: 15px;
  margin : 0px;
}
